#main-title {
    color: white;
    font-size: 20px;
    text-align: center;
  }
  
  .content {
    background-color: black;
  }
  
  p {
    color: white;
  }
  /* Черный фон секции <main>. Для этого использовали класс content и селектор .content;
Заголовок первого уровня имеет белый цвет, размер шрифта 20 пикселей и расположение по центру. У заголовка есть идентификатор main-title, поэтому для добавления стилей мы смогли использовать селектор по идентификатору #main-title;
Все параграфы будут иметь белый цвет текста. Для этого использовался селектор по тегу. */

/* .news article h2 {
    font-size: 32px;
  } */

  .news > article > h2 {
    font-size: 40px;
  }